.contato-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    width: 100%;
}


.chat-card {
    width: 60%;
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.144);


}


.chat-card h2 {
font-size: 22px;
font-weight: 600;
margin-bottom: 5px;
}


.subtitulo {
color: #666;
margin-bottom: 25px;
}



.mensagens-area {
padding: 40px 0;
height: 400px;
}


.mensagem {
display: flex;
flex-direction: column;
margin-bottom: 25px;
}

.bolha {
align-self: flex-start;
background: #f1f3f5;
padding: 10px 15px;
border-radius: 10px;
max-width: 70%;
font-size: 14.5px;
}

.hora {
font-size: 12px;
color: #888;
margin-top: 5px;
}



.input-area {
margin-top: 25px;
display: flex;
align-items: center;
gap: 10px;
}

.input-area input {
flex: 1;
padding: 14px;
border-radius: 30px;
border: 1px solid #ccc;
outline: none;
font-size: 14px;
}

.input-area button {
width: 45px;
height: 45px;
border-radius: 50%;
background: #000;
color: #fff;
border: none;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}