*{
    padding: 0;
    margin: 0;
}

.filtros{
    display: flex;
    gap: 3vh;
    align-items: center;
    justify-content: center;

}
button{
    width: 9vh;
    height: 4vh;
    border-radius: 12px;
    border: 1px solid rgb(173, 170, 170);
    background-color: white;
    font-weight: 600;

}
button:hover{
    color: white;
    background-color: black;
}
.cards{
    display: flex;
    gap: 2vh;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

}
.card{
    height: 25vh;
    width: 50vh;
    border: 1px solid rgba(173, 170, 170, 0.733);
    border-radius: 18px;
    box-shadow: 0px 2px 6px rgb(204, 201, 201);
    transition: transform 0.3s ease;
    background-color: white;

}

.card:hover{
    border: 1px solid rgba(0, 0, 0, 0.733);
     transform: scale(1.05);
}
.introcard{
    display: flex;
    flex-direction: column;

}
img{
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 9px ;
    margin-left: 2vh;


}
.cima{
    display: flex;
    flex-direction: column;
}
.titulocard{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 2vh;
    gap: 2vh;
    font-size: 30px;
    margin-bottom: 0p;
}
.tiposervico{
    margin-left: 10vh;
    background-color: rgb(230, 229, 229);
    width: 5vh;
    border-left: 5px solid rgb(230, 229, 229);
    border-radius: 5px;
    font-weight: 600;
}

.subtitulo{
    font-size: larger;
    opacity: 60%;
    margin-bottom: 2vh;
    margin-left: 2vh;

}
hr{
    opacity: 70%;
}
.baixo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
    font-size: 3vh;
    color: rgba(0, 0, 0, 0.801);
}
.ultservicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px gray;
    height: 30vh;
    border-radius: 20px;
    margin-top: 10vh;

}
.redirecao{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 20vh;
    width: 90%;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: transform 0.3s ease;


}
.redirecao:hover{
    transform: scale(1.10);
}