.fundo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6%;
}
.coluna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}
app-reservas{
    margin-right: 5%;
}