*{
    font-size:xx-large;
}
    th:hover{
    background-color: black;
    color: white;
}
th{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.previous{
    border-color:black;
    color: black;

}
.next{
    border-color:black;
    color: black; 
}
.next:hover{
    background-color: black;
    color: white;
}
.previous:hover{
    background-color: black;
    color: white;
}

table{
    height: 60vh;
    width: 80vh;
}
aside{
    margin-top: 10vh;
    box-shadow: 0 2px 5px gray;
}
.meses{
    background-color: black;
    color: white;
}