*{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:xx-large;
    margin: 0px;
    padding: 0px;

}
p{
    font-size: medium;
    opacity: 70%;
}
img{
    height: 20px;
}
.area-form{

    border-radius: 22px;
    display: flex;
    flex-direction: column;
    width: 70vh;
    margin-top: 20px;
    box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.74);
    margin-right: 5vh;
    background-color: white;

    }
.inputs-form{
    display: flex;
    flex-direction: column;
    width: 65vh;
    justify-items: center;
    align-items: center;
}
.titulo{
    margin-bottom: 5%;
    margin-left: 5%;
}
:placeholder-shown{
    background-color:rgba(185, 195, 197, 0.137);
    border-radius: 16px;
    border-color:rgba(88, 93, 94, 0.137);

}
.selecto{
    background-color: rgba(185, 195, 197, 0.137);
    border-radius: 20px;
    width: 20vh;

}
.horapesso{
    display: flex;
    flex-direction: column;
    margin-top: 5% ;
    margin-bottom: 5%;
}
.grande-area{
    height: 18vh;
    width: 60vh;
    margin-left: 10%;
}
.Subm{
    height: 9vh;
    width: 60vh;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    background-color: black;
    color: white;
    border-radius: 10vh;
    margin-top:1vh;
    margin-bottom: 3vh;
}
.Subm:hover{
    background-color: rgba(70, 77, 70, 0.37);
    color: black;
    border-radius: 0px;
}