*{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:xx-large;
    margin: 0px;
    padding: 0px;

}
p{
    font-size: medium;
    opacity: 70%;
}
img{
    height: 20px;
}
.area-form{

    border-radius: 22px;
    display: flex;
    flex-direction: column;
    width: 70vh;
    margin-top: 20px;
    box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.74);
    margin-right: 5vh;
    background-color: white;
    transition: 0.5s ease;
}
.area-form:hover{
    transform: translateY(-3%);
}
.inputs-form{
    display: flex;
    flex-direction: column;
    width: 65vh;
    justify-items: center;
    align-items: center;
}
.titulo{
    margin-bottom: 5%;
    margin-left: 5%;
}
:placeholder-shown{
    background-color:rgba(134, 137, 138, 0.308);
    border-radius: 16px;
    border: 1px solid rgba(185, 177, 177, 0.384);

}
::placeholder{
    color:rgb(136, 136, 136);
}
.selecto{
    background-color: rgba(185, 195, 197, 0.315);
    border-radius: 20px;
    width: 30%;

}
.horapesso{
    display: flex;
    flex-direction: column;
    margin-top: 5% ;
    margin-bottom: 5%;
}
.grande-area{
    height: 18vh;
    width: 60vh;
    margin-left: 10%;
}
.Subm{
    height: 9vh;
    width: 60vh;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    background-color: black;
    color: white;
    border-radius: 10vh;
    margin-top:1vh;
    margin-bottom: 3vh;
    transition: 0.5s ease;
}
.Subm:hover{
    background-color: white;
    color: black;
    border-radius: 10vh;
    transform: scale(1.1);
}
