*{
    border: 0;
    padding: 0;
}
.card{
    background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/BXoCcli6Gjgt702lg/videoblocks-vintage-barbershop-interior-movement-along-the-chairs-wooden-tables-and-mirrors-stylish-hair-studio-indoors-stylish-beauty-salon-design-with-modern-lighting-and-lamps_b_eyo7b9l_thumbnail-1080_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 80%;
    border-radius: 35px;
    box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.884);

}
.titu{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 5vh;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    height: 40vh;

}
.titulo{
    font-size: 5vh;
    margin-bottom: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}